<html>
<head>
    <title>Houdini CSS - Examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>
    Examples
</h1>
<ul>
    {{#each examples}}
        <li>
            <a href="{{this.path}}">{{this.name}}</a>
        </li>
    {{/each}}
</ul>
</body>
</html>
